/*-- scss:defaults --*/

.quarto-title-banner {
    margin-bottom: 1em;
    color: #fdfeff;
    background-image: linear-gradient(to top, #100810 0%, #853888 100%) !important;
}

h1.title, .title.h1 {
    margin-top: 0;
    color: #f1cbee;
    text-shadow: -4px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 3px solid #6f2f71 !important;
}

p {
  text-align: justify;
}

.geral{
     margin-bottom: 0.5rem;
    line-height: 1;
    box-shadow: 1px -1px 9px 4px #dddddd;
}